<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="main.js"></script>
    <title>Registration</title>
</head>

<body>
    <div class="loader" style="display:none">
        <center>
            <img src="ajax-loader.gif">
        </center>
    </div>
    <form action="/extform">
        <div class="col s2">
            <h2 style="text-align:center">Form</h2>
        </div>
        <div class="row">
            <div class="col s15" style="margin-left:40%; margin-right:40%; margin-top:5%">
                <div class="input-field inline">
                    <input id="name" type="text" class="validate">
                    <label for="name">FullName</label>
                </div>
            </div>
        </div>
    </form>
    </div>
    <div class="row">
        <div class="col s15" style="margin-left:40%; margin-right:40%">
            <div class="input-field inline" style="width:100%">
                <input id="regno" type="text" class="validate">
                <label for="regno">College Name</label>
            </div>
        </div>
    </div>
    </form>
    </div>
    <div class="row">
        <div class="col s15" style="margin-left:40%; margin-right:40%">
            <div class="input-field inline">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
    </div>
    </form>
    </div>
    <div class="row">
        <div class="col s15" style="margin-left:40%; margin-right:40%">
            <div class="input-field inline">
                <input id="phone" type="text" class="validate">
                <label for="phone">Phone No.</label>
                <button id="show" class="btn red lighten-1" type="submit" name="action">SignUp
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>


    </div>
    </form>
</body>

</html>