<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="main(intform).js"></script>
    <title>Registration</title>
</head>

<body>

    <div class="col s12 m7">
        <h4 class="header" style="text-align:center">Details</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="<%= picture%>" style="float:left;width:200px;height:200px;">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p> Name:- <%= name%><br>
                        Email:- <%= email%></p>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value='<%= token%>' id="token">
    <div class="col s2">
        <h3 style="text-align:center">Additional Information Form</h3>
    </div>
    <div class="loader" style="display:none">
        <center>
            <img src="ajax-loader.gif">
        </center>
    </div>
    <div class="row">
        <div class="col s15" style="margin-left:40%; margin-right:40%; margin-top:1%">
            <div class="input-field inline">
                <input id="hostelroom" type="text" class="validate" required="" aria-required="true">
                <label for="hostelroom">Hostel Room</label>
                <span class="helper-text" data-error="Wrong" data-success="Passed"> </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s15" style="margin-left:40%; margin-right:40%">
            <div class="input-field inline">
                <input id="phone" type="text" class="validate" required="" aria-required="true">
                <label for="phone">Phone No.</label>
                <span class="helper-text" data-error="Wrong" data-success="Passed"> </span>
                <button id=show class="btn red lighten-1" name="action">Send
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
    <!-- </form> -->
</body>

</html>